@import 'vars';
@import 'mixins';

@include main;

header, footer {
	width: 100%;

}

section {
	width:80%;
	padding: 2em 10em;
}

nav {
	width:100%;
	background:#fff;
	text-align: center;
	padding: 0.5em 0;
	border-bottom: 1px solid skyblue;
	ul {
		list-style: none;
		li {
		display: inline-block;
		margin-right:1em;
			a {
				text-decoration:none;
				&:hover {
					color: black;
					background:skyblue;
				}
			}
		}
	}
}

.glavni {
	background-image: url("../images/bkg1.jpg");
	margin:0 auto;
	text-align:center;
		h1 {
			color: red;
		}
}