@import 'vars';
@import 'mixins';

@include main;

header, footer {
	width: 100%;

}

section {
	width:80%;
	padding: 2em 10em;
	margin:0 auto;
	text-align:center;
}
h1,h2 {
	color: red;
	}

nav {
	width:100%;
	background:#fff;
	text-align: center;
	padding: 0.5em 0;
	border-bottom: 1px solid skyblue;
	ul {
		list-style: none;
		li {
		display: inline-block;
		margin-right:1em;
			a {
				text-decoration:none;
				&:hover {
					color: black;
					background:skyblue;
				}
			}
		}
	}
}

.glavni {
	background-image: url("../images/bkg1.jpg");
	height:40vh;
		h1 {
			margin: 5.5em auto 0;
		}
}

.services {
	h1 {
		border-bottom:1px solid red;
		margin:0 auto;
		width: 100%;
	}
	p {
		margin-bottom: 2em;
	}
	p.paragraf {
		display: inline-block;
		width: 40%;
		text-align:justify;
		margin: 1em;
	}
	.icone {
		display: inline-block;
		border:1px solid skyblue;
		width: 30%;
		padding:1em;
		margin: 0.5em;
		h2 {
			text-transform: uppercase;
		}
		img {
			border-radius:100px;
		}
	}
}

.contact {
		h1 {
		border-bottom:1px solid red;
		margin:0 auto;
		width: 100%;
		}
		form {
			display:inline-block;
			text-align: left;
			width: 40%;
				label {
					display: block;
					color: red;
				}
		}
}